/*stile della sezione principale della pagina*/
section{
  margin-top: 100px;
  margin-left:  10%;
  margin-right:  10%;
  height: auto;
  width: 80%;
  background-color: black;
}

#sezioneCentrale{
  width: 100%;
  height: 55.6%;
  justify-content: space-between;
  display: flex;
  background-color: black;
}

.contenitoreImmagini{
  height: 50%;
  width: 49.7%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contenitoreImmaginiVerticale{
  height: 100%;
  width: 100%;
}

img{
  height: 100%;
  width: 100%;
}
