body{
  background-color: black;
}

#sezionePrincipale{
  margin-left: 17%;
  margin-right: 17%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: calc(1rem + 1vw);
  margin-top: 100px;
}

.immaginePrincipale{
  height: 56,25%;
  width: 100%;
}

img{
  height: 100%;
  width: 100%;
}

#sezioneInformazioni{
  height: auto;
  width: 100%;
  margin: 5% 0%;
}

.sezioneStoria{
  width: 65%;
  height: auto;
  font-size: calc(0.8rem + 0.8vw);
  border-right: 2px solid;
  border-color: var(--grigioBello);
  padding-right: 5px;
}

#immagineFinale{
  margin-bottom: 5%;
}
