<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title=#{header.login})">
  </head>
  <head>
    <link th:href="@{/css/loginForm.css}" rel="stylesheet"/>
  </head>
  <body>
    
    <!--header della pagina-->
    <header th:replace="fragments/base.html :: intestazione">
    </header>
    
    <section>

      <div id="titoloLogin"  th:href="#{login.titolo}">Effettua il login</div>

      <form th:action="@{/login}" method="POST">

        <div class="elementoForm">
          <div th:text="#{form.username}">Username</div>
          <div>
            <input type="text" name="username" required/>
          </div>
        </div>

        <div class="elementoForm">
          <div th:text="#{form.password}">Password</div>
          <div>
            <input type="password" name="password" required/>
          </div>
        </div>

        <button type="submit">Login</button>
      </form>
  
    </section>
    
    <!--footer della pagina-->
    <footer th:replace="fragments/base.html :: fondo">
    </footer>
    
  </body>
</html>